<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% docs.forEach((item,index) => { %>
        <table>
            <thead>
                <tr>
                    <th>SNO</th>
                    <th>Original URL</th>
                    <th>Short URL</th>
                    <th>clicks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= item.originalUrl %></td>
                    <td><%= item.shortUrl %></td>
                    <td><%= item.visitedHistory.length %></td>
                </tr>
            </tbody>
        </table>
    <% }); %>
</body>
</html>